.downloadApp__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.downloadApp__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.downloadApp__cta {
  justify-content: start;
  margin-top: 2rem;
}

/* ============================= MEDIA QUERIES(TABLETS) 
============================== */

@media screen and (max-width: 1024px) {
  .downloadApp__container {
    text-align: center;
    padding-bottom: 8rem;
  }
  
  #downloadApp .cta {
    flex-direction: column;
  }
}

/* ============================= MEDIA QUERIES(PHONES) 
============================== */

@media screen and (max-width: 600px) {

}
